@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

p {
    font-family: Lusitana, Times, serif;
    font-weight: 100; 
    margin: 0 5% 2rem 5%;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

nav {
    z-index: 100;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 1.8rem;
	overflow: hidden;
    position: fixed;
    top: 3rem;
    left: 1rem;
	background: transparent url("../images/hamburger.svg") no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap; 
}

.nav-top {
	max-height: 20rem;
    background-color: #fceeef;

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 14rem; /* max height of dropdown */
}

.nav-top ul { 
    z-index: 90;
	margin: 0;
    padding: 1.5rem 0;
    list-style-type: none;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    z-index: 5;
	display: block;
	font-size: 1.25em;
    padding: .875rem 5%;
	color: white;
	text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8cb9d;
}

.sale {
    overflow: hidden;
    height: 6rem;
    background-color: black;
}

.topsale {
    margin: 1rem 0;
    position: fixed;
    top: -.6rem;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto Condensed, Helvetica, sans-serif;
    color: white;
}

.logo {
    position: relative;
    top: 2rem;
    background-color: #965576;
    align-content: center;
    padding: .3rem;
    height: 4rem;
}

header {
    z-index: 4;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.billboard { 
    margin: 6rem 0 0 0;
    overflow: hidden;
    background-image: url(../images/billboard.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

h1 {
    font-family: Roboto Condensed, Helvetica condensed, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 2.9rem;
    margin: 20% 10%;
    padding: 0;
}

h2 {
    font-family: Roboto Condensed, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem 5% .5rem;
    text-align: center;
    font-weight: 400;
}

.buckets figure {
    margin: 0;
    padding: 0;
}

.buckets figcaption {
    font-family: Roboto Condensed, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    color: #fceeef;
    border: .25rem solid #fceeef;
    font-weight: 500;
    position: absolute;
    text-align: center;
}

.type1 {
    width: 6rem;
    left: 6%;
    bottom: 11.5rem
}

.type2 {
    width: 6rem;
    left: 64%;
    top: 44rem;
}

.type3 {
    width: 8rem;
    left: 6%;
    top: 59.5rem;
}

.type4 {
    width: 7rem;
    left: 64%;
    top: 78rem;
}

.dropcap:first-letter {
    font-family: Roboto Condensed, Helvetica, sans-serif;
    font-size: 4.6rem;
    font-weight: bold;
    float: left;
    margin: -1.3rem 2% -2rem 0;
    color: #965576;
}

blockquote {
    margin: 0 5% -2rem 5%;
    padding: 0 0 0 5%;
    overflow: hidden;
}

blockquote p {
    font-size: 2rem;
    font-family: Roboto Condensed, Helvetica, sans-serif;
    font-weight: 800;
}

blockquote span {
    font-weight: 100;
    float :right;
    margin: .6rem 0;
    font-style: italic;
    font-size: 1.4rem;
}

blockquote p:before {
    content: "“";
    font-size: 6rem;
    color: #965576;
    float: left;
    margin: -1.65rem 1% 5rem -12%;
    font-family: Lusitana, Times, serif; 
}

blockquote p:after {
    content: "”";
    font-size: 2rem;
    margin: -.4rem 0 0 0;
    position: absolute;
    color: #965576;
    font-family: Lusitana, Times, serif; 
}

hr {
    margin: 1rem 12%;
    border: solid .1rem;
}

.hr2 {
    margin: 2.5rem 12%;
}

footer {
    overflow: hidden;
    background-color: #965576;
    margin: 0;
    padding: 1rem 13%;
}

footer p {
    text-align: center;
    font-family: Roboto Condensed, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.rights {
    margin: 8rem 0;
    font-size: .75rem;
    font-weight:100;
}

footer img {
    width: 5rem;
    float: left;
    align-content: center;
    margin: 0 0 0 12%;
}

footer img:nth-child(2) {
    float:right;
    margin: 0 12% 0 0;
}

.products {
    margin: 6rem 0 0 0;
    padding: 0 20%;
    overflow: hidden;
    background-color: #fceeef; 
}

.salesale {
    font-size: 4rem;
    line-height: 4rem;
    margin: 1rem 0;
}

.productpics {
    margin: 5%;
}

summary {
    font-family: Roboto Condensed, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: .5rem 0 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.list {
    font-family: Roboto Condensed, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    margin: -1.5rem 6% 1.5rem 0;
    line-height: 2rem;
    list-style: none;
}

figure {
    background-color: #fceeef; 
    margin: 5%;
}

figcaption {
    padding: 1%;
}